@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-lato;
    background-color: #e3e3e3;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
  }

  * {
    box-sizing: border-box;
  }
  :focus:not(:focus-visible) {
    outline: none;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-open-sans;
  }

  button,
  input,
  textarea,
  select {
    @apply font-lato;
  }

  a {
    @apply text-blue;
    @apply dark:text-white;
    @apply hover:text-dark-red-darker;
    @apply dark:hover:text-yellow;
  }
}
